# Ignored files

# Python
env/
__pycache__/
.vscode/

# Standart error stream (2>)
er?

# Materials
Manuals/

# Compiled and executable files
*.out
*.exe

# Archives
*.zip

# Backup directories and files
*.bac 
Backup/
build/

